<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>fab-turing-machine demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../fab-turing-machine.html">

    <custom-style>
      <style is="custom-style" include="demo-pages-shared-styles">
      </style>
    </custom-style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic fab-turing-machine demo</h3>
      <demo-snippet>
        <template>
          <fab-turing-machine></fab-turing-machine>
          <script>
            let machine = document.querySelector('fab-turing-machine')
            setInterval(() => {
                if (machine.clock > 0.5) {
                    machine.set('clock', 0);
                } else {
                    machine.set('clock', 1);
                }
            }, 150);
          </script>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
