<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="behaviors/highlight-behavior.html">
<link rel="import" href="../fab-ui-led/fab-ui-led.html">

<dom-module id="fab-clock">
    <template>
        <style>
        :host {
            display: block;
            width: 340px;
            font-size: 10px;
            font-family: monospace;
        }
        </style>
        <h1>Clock</h1>
        <input type="range" value$="[[bpm]]" min="0" max="1" step="0.001" on-input="_changeBpm" style="width: 90%;">
        <p>[[_bpm]]</p>
        <button on-tap="_setInterval">Reset</button>
        <p><fab-ui-led red="[[gate]]"></fab-ui-led></p>
    </template>

    <script>
    /**
    * `fab-clock`
    * Clock generator
    *
    * @customElement
    * @polymer
    * @demo demo/index.html
    */
    class FabClock extends Polymer.Element {
        static get is() { return 'fab-clock'; }
        connectedCallback () {
            super.connectedCallback();
            console.log('Clock started');
            this._setInterval();
        }
    }

    window.customElements.define(FabClock.is, FabClock);
    </script>
</dom-module>
